{% extends 'layout.html' %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">{% endblock %}

{% block title %}Register{% endblock %}

{% block content%}
<div class="inner_section">
    <form class="auth_section" method="post">
        <label for="username">Username</label>
        <input name="username" class="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" class="password" required>
        <button type="submit" class="submit">Register</button>
    </form>
</div>
{% endblock %}