{% extends 'layout.html' %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='create.css') }}">{% endblock %}

{% block title %}Edit{% endblock %}

{% block content %}
    <form class="selection" action="#" method="POST">
        <input class="transparent_input title" type="text" name="group_name" value="{{group['name']}}">
        <div class="list">
            <div class="table_header">
                <p class="name">Member</p>
                <p class="name">Avaiable days</p>
                <p class="name">Preference</p>
            </div>
            {% for member in members %}
            <div class="item">
                <input class="transparent_input name" type="text" name="member_name_{{members.index(member)}}" value="{{member['name']}}">
                <input class="transparent_input days" type="text" name="member_days_{{members.index(member)}}" value="{{member['days_list']}}">
                <input class="transparent_input days" type="text" name="member_pref_{{members.index(member)}}" value="{{member['preference_list']}}">
                <a href="{{url_for('main.g_delete', resource=member, mode='member')}}"><img src="{{url_for('static', filename='delete.svg')}}" alt="delete"></a>
            </div>
            {% endfor %}
            <a class="name" href="{{url_for('main.m_create', resource='New Member')}}">+</a>
        </div>   
        <div class="submit">
            <a class="name button_edit" href="{{ url_for('main.group_selection') }}">Back</a>
            <input class="name button_edit" type="submit" value="Done">
        </div> 
        <input type="text" name="id" style="display: none;" value="{{group['id']}}">
    </form>
{% endblock %}