{% extends 'layout.html' %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='selection.css') }}">{% endblock %}

{% block title %}Edit{% endblock %}

{% block content %}
    <form class="selection">
        <input class="transparent_input title" type="text" value="{{group_name.title()}}">
        <div class="list">
            {% for member in members %}
            <div class="item">
                <a class="name" href="{{url_for('main.g_create', resource=member)}}">{{member}}</a>
                <a href="{{url_for('main.g_delete', resource=member, mode='member')}}"><img src="{{url_for('static', filename='delete.svg')}}" alt="delete"></a>
            </div>
            {% endfor %}
            <a class="name" href="{{url_for('main.m_create', resource='New Member')}}">+</a>
        </div>    
    </form>
{% endblock %}