{% extends 'layout.html' %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='group_edit.css') }}">{% endblock %}

{% block title %}Edit{% endblock %}

{% block content %}
    <form class="group_edit" method="POST">
            <div class="small column_display">
                <input class="transparent_input" type="text" value="{{group_name}}">

                <div>
                    <p class="transparent_input fill">{{group['member_list']}}</p>
                    <select id="selectMember">
                        <option label="member" value="new">new</option>
                        {% for member in group['g_members'] %}
                        <option value="{{member}}">{{member}}</option>
                        {% endfor %}
                    </select>
                </div>
                <input class="transparent_input" name="member_list" type="text" disabled>{{group['member_list']}}</input>
                
            </div>
            <!-- <input type="number" id="quantity" name="quantity" min="1" max="5"> -->
            <div class="big column_display">
                <h2>February</h2>
                
            </div>
            <div class="small_2 column_display">
                <h3>Create / Edit</h3>
                <input type="text" name="member_name" placeholder="{{selected_member}}" value="{{selected_member}}">
                <input type="date" name="days" placeholder="days">
                <button type="submit">Done</button>
            </div>
            <div class="big_2 column_display">
                <p class="text_output">{{group}}</p>
            </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#selectMember').change(function(){
                var selectedOption = $(this).val();
                $.ajax({
                    type: 'POST',
                    url: '/group_edit',
                    data: {selected_option: selectedOption},
                    success: function(response){
                        console.log(response.message);
                        // Perform any client-side action if needed
                    },
                    error: function(xhr, status, error){
                        console.error(xhr.responseText);
                    }
                });
            });
        });
        </script>
{% endblock %}

