{% extends 'layout.html' %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='group_selection.css') }}">{% endblock %}

{% block title %}My Groups{% endblock %}

{% block content %}
    <div class="group_selection">
        <h1 class="title">My Groups</h1>
        <div class="group_list">
            <a class="group_item" href="{{url_for('main.group_edit')}}">item 1</a>
            <a class="group_item" href="{{url_for('main.group_edit')}}">item 2</a>
            <a class="group_item" href="{{url_for('main.group_edit')}}">item 3</a>
            <a class="group_item" href="{{url_for('main.group_edit')}}">item 4</a>
            <a class="group_item" href="{{url_for('main.group_edit')}}">item 5</a>
            <a class="add_group" href="{{url_for('main.group_edit')}}">+</a>
        </div>    
    </div>
    {% endblock %}