{% extends 'layout.html' %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='selection.css') }}">{% endblock %}

{% block title %}My Groups{% endblock %}

{% block content %}
    <div class="selection">
        <p class="title">My Groups</p>
        <div class="list">
            {% for group in groups %}
            <div class="item">
                <a class="name" href="{{url_for('main.g_create', group_id=group['id'])}}">{{group['name']}}</a>
                <a href="{{url_for('main.g_delete', id=group['id'])}}"><img src="{{url_for('static', filename='delete.svg')}}" alt="delete"></a>
            </div>
            {% endfor %}
            <a class="name" href="{{url_for('main.new_group')}}">+</a>
        </div>    
        <div class="submit">
            <a class="name button_back" href="{{url_for('main.index')}}">Back</a>
        </div>
    </div>
{% endblock %}