:root {
    --white: #f9f9f9;
    --black: #110F0D;
    --grey: #222222;
    --grey_light: #353535;
    --grey_dark:#1A1A1A;
}

.auth_section {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white);
    height: auto;
    width: auto;
    border-radius: 1rem;
    padding: 2rem;
    gap: 1rem;
}

label {
    color: var(--white);
    font-size: 1rem;
}

.submit {
    height: 2rem;
    width: 100%;
    background-color: var(--white);
    border: none;
    border-radius: 0.1rem;
}
