:root {
    --white: #f9f9f9;
    --black: #110F0D;
    --grey: #222222;
    --grey_light: #353535;
    --grey_dark:#1A1A1A;
}


body {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100svh;
    font-size: 62.5%;
}

.main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
    height: 100svh;
    width: 100svw;
    align-content: center;
}

.inner_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.base_nav {
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    background-color: var(--grey);
    height: 3rem;
    border-bottom: 1px solid var(--grey_light);
}

.nav_link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5rem;
    width: auto;
    color: var(--white);
}

.nav_link:hover {
    scale: 1.02;
}


.redirect, .userbox {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 0;
    padding: 0;
    gap: 4rem;
}

