:root {
    --black: #110F0D;
    --grey: #222222;
    --white: #f9f9f9
}


body {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100svh;
    font-size: 62.5%;
}

#main_section {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100svh;
}

#base_nav {
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
    background-color: var(--grey);
    height: 3rem;
}

#home_button, #nav_username {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.5rem;
    width: auto;
    color: var(--white);
}

#home_button:hover {
    scale: 1.05;
}


#redirect, #userbox {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
    border-radius: 0;
    padding: 0;
    gap: 4rem;
}

.nav_username {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
}